.inputs{
    margin-top: 10px;
    width: 250px;
    margin-left: 10px;
    border-bottom: 1px solid;
}

.signupButton{
    margin-top: 50px;
    margin-left: 65px;
}

ion-toolbar{
    text-align: center;
}