ion-toolbar{
    text-align: center;
}

.updateButton{
    margin-left: 50px;
    margin-top: 10px;

}

.inputs{
    margin-top: 10px;
    width: 250px;
    margin-left: 10px;
    border-bottom: 1px solid;
}