<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Mon profil
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

    <ion-input class="inputs" type="text" value="Joncour" placeholder="Nom"></ion-input>
    <ion-input class="inputs" type="text" value="Grégoire" placeholder="Prénom"></ion-input>
    <ion-input class="inputs" readonly type="email" value="grégoire.joncour@ynov.com" placeholder="Email"></ion-input>
    <ion-input class="inputs" type="password" value="azerty" placeholder="Mot de passe"></ion-input>
    <ion-button class="updateButton">Enregistrer</ion-button>

</ion-content>
