<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card color="light">
    <ion-card-header>
        <ion-thumbnail class="img-card1">
            <img src="assets/om.ico">
          </ion-thumbnail>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>L'OM renoue avec la victoire</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        Enchaînant un 2e succès en trois jours. Une première depuis le mois de novembre.
    </ion-card-content>
  </ion-card>
  <ion-card color="light">
      <ion-card-header>
          <ion-thumbnail class="img">
              <img src="assets/news.png">
            </ion-thumbnail>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
    
