.button1{
  margin-left: 75px;
  margin-top: 70px;
  width: 150px;
}

.button2{
  margin-left: 75px;
  margin-top: 30px;
  width: 150px;
}

.img{
  width: 80%;
  margin-left: 30px;
  margin-top: 50px;
}

.img-card1{

  margin-left: 80px;

}

ion-toolbar{
  text-align: center;
}

ion-footer{
  height: 30px;
  ion-title{
    font-size: 15px;
    margin-bottom: 25px;
  }
}
